body {
  height: 100vh;
  width: 100vw;
  background-color: #090a0c;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url(./blood.svg);  
  background-position: top;
  background-repeat: no-repeat;
}

.eye {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0) brightness(100%) contrast(100%) blur(5px);
  transition: 0.5s;
  height: 25vh;
  width: 25vw;
}

.left-eye:hover {
  filter: invert(47%) sepia(81%) saturate(378%) hue-rotate(10deg) brightness(194%) contrast(95%) blur(.5px);
}

.right-eye:hover {
  filter: invert(47%) sepia(81%) saturate(378%) hue-rotate(10deg) brightness(194%) contrast(95%) blur(.5px);
}

.container{
  padding: 1rem;
  background-color: #ececec;
  border: 0;
  border-radius: 5px;  
  box-shadow: 0px 0px 15px #4c5058;
  /* background-image: url(./wave.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 101%; */
}